
/* Page Background
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
	background-color: {{ .Site.Params.page_color }};
	color: {{ .Site.Params.text_color }};
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  
a {
    text-decoration: none;
    /*border-bottom: 1px grey solid;*/
      color: {{ .Site.Params.link_color }};
  }
a:hover {
  color: {{ .Site.Params.hover_color }};
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
  color: #FFF;
  background-color: {{ .Site.Params.link_color }};
  border-color: {{ .Site.Params.link_color }};
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #FFF;
  background-color: {{ .Site.Params.hover_color }};
  border-color: {{ .Site.Params.hover_color }}; }

